<%= render "shared/header" %>
<div class='chat-room-form'>
  <h1>タスクをシェアするメンバーを選んでください</h1>
  <%= render "shared/error_messages", resource: @space %>
  <div class='space-form'> 
  <%= form_with model: @space, local: true do |f| %>
        <table class="table table-hover task">
           <tr>
            <th>選択</th>
            <th>名前</th>
            <th>メールアドレス</th>
           </tr>
          <%= f.collection_check_boxes(:user_ids, User.where.not(id: current_user.id), :id, :nickname) do |user| %>
            <tr>
            <%= user.label do %>
              <td><%= user.check_box %></td>
              <td><%= user.object.nickname %></td>
              <td><%= user.object.email %></td>
            </tr>
            <% end %>
          <% end %>
        </table>
        <%= f.hidden_field :user_ids, multiple: true, value: current_user.id %>
        <%= f.hidden_field :orner_id, value: current_user.id %>
        <%= f.hidden_field :project_id, value: @project.id %>
        <%= f.hidden_field :space_name, value: @project.project_name %>
        <%= f.submit class: 'chat-room-form__action-btn'%>
  <% end %>
  </div>
</div>
