<header class='top-page-header'>
  <nav class="navbar" aria-label="First navbar example" style="background-color:#e3f2fd;" id="nav-header">
    <div class="container-fluid">
      <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav me-auto mb-2">
          <li class="nav-item">
            <%=link_to 'ホーム', root_path, class:"nav-link active" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">スペース</a>
            <ul class="dropdown-menu">
              <%# <%=link_to '新規作成', new_space_path, class:"dropdown-item" %> 
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">todoチャット</a>
            <ul class="dropdown-menu">
              <form role="search">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
              </form>
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class='under-nav'>
        <ul class='lists-left'>
          <% if user_signed_in? %>
          <li><%= link_to 'ログアウト', destroy_user_session_path, data: {turbo_method: :delete}, class: "logout" %></li>
          <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
          <%end%>
       </ul>
    </div>
  </nav>
</header>