<header class='top-page-header'>
  <nav class="navbar" aria-label="First navbar example" style="background-color:#e3f2fd;" id="nav-header">
    <div class="container-fluid">
      <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav me-auto mb-2">
          <li class="nav-item">
            <%=link_to 'ホーム', root_path, class:"nav-link active" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">シェアされている予定</a>
            <ul class="dropdown-menu">
              <% share_space_count = 0%>
              <% @spaces.each do |space| %>
                <% if space.orner_id != current_user.id %>
                <li><%= link_to space.space_name, space_path(space.id) ,class:"dropdown-item"%></li>
                <% share_space_count += 1%>
                <% end %>
              <% end %>
              <% if share_space_count == 0%>
              <li class = "dropdown-item">共有されているタスクはありません</li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class='under-nav'>
        <ul class='lists-left'>
          <% if user_signed_in? %>
          <li><%= link_to 'ログアウト', destroy_user_session_path, data: {turbo_method: :delete}, class: "logout" %></li>
          <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
          <%end%>
       </ul>
    </div>
  </nav>
</header>