<div class="nested-fields">
    <%= f.label "タスク" %>
    <%= f.text_field :task_name %>
    <%= link_to_remove_association "タスクを削除", f %>

    <div class="children" id='thing-form'>
    <%= f.fields_for :things do |thing| %>
        <%= render "shared/thing_fields", f: thing %>
    <%end%>
    </div>

    <%= link_to_add_association "todoを追加", f, :things,  
    data: {
            association_insertion_method: 'append'
          },
    partial: 'shared/thing_fields'%>
   
</div>