<div class="nested-fields thing-field">
    <%= f.text_field :thing_name, class:"thingname-field" %>
    <%= f.text_field :memo, class:"memo-field" %>
    <%= f.time_field :start_time, class:"start-field" %>
    <%= f.time_field :end_time, class:"end-field" %>
    <%= link_to_remove_association "todoを削除", f %>
</div>