<%= render "shared/header" %>

<%= form_with model: @project, local: true do |f| %>
    <%= f.label "プロジェクト名" %>
    <%= f.text_field :project_name %>
    <div id="task-form">
        <%= f.fields_for :tasks do |task| %>
            <%= render "shared/task_fields", f: task %>
        <% end %>
        <div class="links">
          <%= link_to_add_association "タスクを追加", f, :tasks,
             data: {
             association_insertion_node: '#task-form',
             association_insertion_method: 'append'
            },  partial: 'shared/task_fields' %>
        </div>
    </div>
    <div class="actions">
        <%= f.submit "スケジュールを登録"%>
    </div>
<% end %>