<div class="task-list">
  <%= @project.project_name %>
  <%= render "shared/error_messages", resource: @project %>
  <table class="table table-hover">
    <tr>
      <th>タスク</th>
      <th>内容</th>
      <th>開始予定</th>
      <th>終了予定</th>
      <th>補足</th>
      <th>ステータス</th>
      <th>編集する</th>
    </tr>
    <% @tasks.each do |task| %>
      <tr>
        <td rowspan= "<%= task.things.count %>" ><%= task.task_name %></td>
        <% task.things.each do |thing| %>
        <td><%= thing.thing_name %></td>
        <td><%= thing.start_time.strftime("%H:%M") %></td>
        <td><%= thing.end_time.strftime("%H:%M") %></td>
        <td><%= thing.memo%></td>
        <td><%= Status.find(thing.status_id).name %></td>
        <td> <%= link_to "編集する", edit_thing_path(thing.id) %></td>
      </tr>
        <% end %>
     <% end %>
  </table>
    <%= link_to "プロジェクトを削除", project_path, data: {turbo_method: :delete}, class:"item-destroy" %>
</div> 