<div class="task-list">
  <%= @project.project_name %>
  <%= render "shared/error_messages", resource: @project %>
  <table class="table table-hover task">
    <tr>
      <th>タスク</th>
      <th>todo</th>
      <th>開始予定</th>
      <th>終了予定</th>
      <th>補足</th>
      <th>ステータス</th>
      <th>編集する</th>
    </tr>
    <% @tasks.each do |task| %>
      <tr>
        <td rowspan= "<%= task.things.count %>" ><%= task.task_name %></td>
        <% task.things.each do |thing| %>
        <td><%= thing.thing_name %></td>
        <td><%= thing.start_time.strftime("%H:%M") %></td>
        <td><%= thing.end_time.strftime("%H:%M") %></td>
        <td><%= thing.memo%></td>
        <td><%= Status.find(thing.status_id).name %></td>
        <td>
            <!-- Button trigger modal -->
            <button type="button" id="edit_thing" class="btn btn-primary edit" data-bs-toggle="modal" data-bs-target="#exampleModal"
            data-task-id=<%= thing.task_id %> data-id="<%= thing.id %>" data-name="<%= thing.thing_name %>" data-start="<%= thing.start_time %>" data-end="<%= thing.end_time %>"
             data-memo="<%= thing.memo %>" data-status="<%= thing.status_id %>">
             編集
            </button>
          </td>
      </tr>
        <% end %>
     <% end %>
  </table>
  <% if @space.blank?%>
    <%=link_to '新規作成', new_space_path(project_id: params[:id], params_controller: params[:controller]), class:"create-space" %>
    <% else %>
      <%= link_to 'チャット', space_messages_path(@space_id) %>
  <% end %>
    <%= link_to "プロジェクトを削除", project_path, data: {turbo_method: :delete}, class:"item-destroy" %>
</div> 


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">更新ウィンドウ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form id="edit-form">
          <div class="form-group">
            <input type="hidden" class="form-control" id="task_id" name="task_id">
            <input type="hidden" class="form-control" id="thing_id" name="thing_id">
            <label for="item-name" class="col-form-label">todo:</label>
            <input type="text" class="form-control" id="thing_name" name="thing_name">
            <label for="item-name" class="col-form-label">開始時刻:</label>
            <input type="time" class="form-control" id="start_time" name="start_time">
            <label for="item-name" class="col-form-label">終了時刻:</label>
            <input type="time" class="form-control" id="end_time" name="end_time">
            <label for="item-name" class="col-form-label">メモ:</label>
            <input type="text" class="form-control" id="memo" name="memo">
            <div class="form-group">
              <label for="item-category" class="col-form-label">ステータス:</label>
              <select class="form-control" id="status">
                <option value="1">---</option>
                <option value="2">完了</option>
                <option value="3">実施中</option>
                <option value="4">未着手</option>
                <option value="5">対応不要</option>
                <option value="6">スタック（実施不可）</option>
              </select>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="thingedit">変更を適用</button>
      </div>
    </div>
  </div>
</div>